@import "../style/global.scss";
button {
  cursor: pointer;
}

article {
  background-color: $white-color;
  padding: 20px;
  position: absolute;
  top: 114px;
  margin: 0 auto;
  z-index: 1;
  left: 0;
  font-size: 32px;
  border-radius: 10px;
  right: 0;
  width: 290px;

  @media (min-width: 768px) {
    background-color: $white-color;
    padding: 25px;
    position: absolute;
    top: 176px;
    margin: 0 auto;
    z-index: 1;
    left: 0;
    border-radius: 10px;
    right: 0;
    width: 490px;
  }

  > h1 {
    display: flex;
    align-items: center;
    font-family: $font-family;
    font-style: $font-style;
    padding: 5px 0 20px 0;
    gap: 22px;
    font-size: 30px;
    img {
      width: 30px;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    > button {
      border: none;
      padding: 0;
      margin: 0;
      outline: none;
    }

    .accordion {
      + .accordion {
        border-top: 1px solid $lightpink-color;
      }
      .drop-down {
        font-size: 14px;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: transform 0.3s ease, opacity 0.3s ease;
      }
      &.active {
        .button {
          background-image: url("../../public/assets/images/icon-minus.svg");
          background-repeat: no-repeat;
          background-position: right;
        }
        .drop-down {
          font-size: 14px;
          opacity: 1;
          height: 100%;
          overflow: hidden;
          transition: transform 0.3s ease, opacity 0.3s ease;
          p {
            text-align: left;
            color: $Grayishpurple-color;
            font-family: $font-family;
            padding: 10px 0 0 10px;
            font-size: 16px;
            line-height: 1.2;
          }
        }
      }
      > button {
        border: none;
        color: $darkpurple-color;
        font-family: $font-family;
        background-color: transparent;
        justify-content: space-between;
        background-image: url("../../public/assets/images/icon-plus.svg");
        background-repeat: no-repeat;
        background-position: center right;
        width: 100%;
        @media (min-width: 768px) {
          padding-top: 20px;
        }
        > span {
          color: $darkpurple-color;
          display: flex;
          gap: 25px;
          padding: 20px 0 10px 0;

          text-align: left;
          font-size: 16px;
          font-family: $font-family;
          font-style: $font-style;
          font-weight: 700;
          justify-content: space-between;
          align-items: center;

          @media (min-width: 768px) {
            font-size: 19px;
          }
        }
        h2 {
          padding-right: 70px;
          font-size: 15px;
          @media (min-width: 768px) {
            padding-right: 107px;
          }
        }
      }
    }
  }
}
