---
import star from "../../public/assets/images/icon-star.svg";
import plus from "../../public/assets/images/icon-plus.svg";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<div>
  <main>
    <article>
      <h1><img src={star.src} />{title}</h1>
      <div class="container">
        <div class="accordion">
          <button class="button">
            <span>
              <div>
                <h2>What is Frontend Mentor, and how will it help me?</h2>
              </div>
            </span>
          </button>
          <div class="drop-down">
            <p>
              Frontend Mentor offers realistic coding challenges to help
              developers improve their frontend coding skills with projects in
              HTML, CSS, and JavaScript. It's suitable for all levels and ideal
              for portfolio building.
            </p>
          </div>
        </div>
        <div class="accordion">
          <button class="button">
            <span>
              <div>
                <h2>Is Frontend Mentor free?</h2>
              </div>
            </span>
          </button>
          <div class="drop-down">
            <p>
              Yes, Frontend Mentor offers both free and premium coding
              challenges, with the free option providing access to a range of
              projects suitable for all skill levels.
            </p>
          </div>
        </div>
        <div class="accordion">
          <button class="button">
            <span
              ><div>
                <h2>Can I use Frontend Mentor projects in my portfolio?</h2>
              </div></span
            >
          </button>
          <div class="drop-down">
            <p>
              Yes, you can use projects completed on Frontend Mentor in your
              portfolio. It's an excellent way to showcase your skills to
              potential employers!
            </p>
          </div>
        </div>
        <div class="accordion">
          <button class="button">
            <span
              ><div>
                <h2>
                  How can I get help if I'm stuck on a Frontend Mentor
                  challenge?
                </h2>
              </div></span
            >
          </button>
          <div class="drop-down">
            <p>
              The best place to get help is inside Frontend Mentor's Discord
              community. There's a help channel where you can ask questions and
              seek support from other community members.
            </p>
          </div>
        </div>
      </div>
      <style lang="scss">
        @import "../style/hero.scss";
      </style>
    </article>
  </main>
</div>
